<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<included>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>./logs/simple-proxy.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>./logs/simple-proxy.%d{yyyy-MM-dd}.log.gz</fileNamePattern>

			<!-- keep 365 days' worth of history -->
			<maxHistory>365</maxHistory>
		</rollingPolicy>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

</included>